:host {
  display: flex;
}

button {
  display: flex;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  background: #3483FA;
  border: 0;
  height: 44px;
  align-self: center;
  width: 100%;
}

button:not(disabled) {
  cursor: pointer;
}

button slot {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}