:host {
  display: flex;
}

:host form {
  display: flex;
}

:host button {
  width: 42px;
  height: 38px;
  background-color: #eeeeee;
  border: 0;
  border-radius: 0 4px 4px 0;
}

:host input {
  padding: 0;
  width: 859px; /*width: 87%;*/
  text-indent: 8px;
  height: 38px;
  border: 0;
  color: #333333;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px 0 0 4px;
}

:host input:focus {
  outline: 0;
}

:host slot {
  display: flex;
  justify-content: center;
}
