@import 'tokens.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--gray-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
}

#app {
  display: none;
  flex-direction: column;
}

#app.loaded {
  display: flex;
}

.nav-logo {
  width: 54px;
  height: 38px;
  text-indent: -999px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./../assets/Logo_ML@2x.png');
}

.search-icon {
  display: flex;
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  background-size: contain;
  background-image: url(./../assets/ic_Search@2x.png);
}

.breadcrumb {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: row;
  align-self: center;
  width: 100%;
  font-size: var(--font-size-small);
  color: var(--gray-light-text);
  max-width: 980px;
  height: 49px;
}

.breadcrumb span {
  margin-right: var(--margin-tiny);
}

.breadcrumb span:last-child {
  font-weight: bold;
}

.breadcrumb span:not(:last-child):after {
  margin-left: var(--margin-tiny);
  content: '>';
}

main {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 980px;
  background-color: var(--white);
  border-radius: var(--border-radius-default);
}

section {
  display: flex;
}
