.productCard {
  display: flex;
  padding: 16px;
}

.productCard {
  display: flex;
  flex-direction: column;
}

.productCard:after {
  display: flex;
  position: relative;
  height: 2px;
  background: #EEEEEE;
  margin: 0 4px;
  top: 16px;
  content: '';
}

.productCard:first-child {
  border-top: 0;
}

  .productCard img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }

  .productCard a {
    display: flex;
    width: 100%;
    color: #333333;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #333333;
    margin-left: 16px;
  }

    .productInfo .priceAddress {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

      .productInfo .priceAddress .price {
        display: flex;
        font-size: 24px;
        margin: 16px 0 16px;
        width: 80%;
      }

      .productInfo .priceAddress .addressState {
        display: flex;
        font-size: 12px;
        color: #666666;
      }

    .productInfo .title {
      display: flex;
      font-weight: 100;
      font-size: 18px;
      margin: 0;
    }

.productList {
  width: 100%;
  flex-direction: column;
}