.productCard {
  display: flex;
  padding: var(--padding-default);
}

.productCard {
  display: var(--margin-default);
  flex-direction: column;
}

.productCard:after {
  display: flex;
  position: relative;
  height: 2px;
  background: var(--gray-backgronud);
  margin: 0 var(--margin-tiny);
  top: var(--margin-default);
  content: '';
}

.productCard:first-child {
  border-top: 0;
}

.productCard img {
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-default);
}

.productCard a {
  display: flex;
  width: 100%;
  color: var(--gray-text);
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--gray-text);
  margin-left: var(--margin-default);
}

.productInfo .priceAddress {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-default);
}

.productInfo .priceAddress .price {
  display: flex;
  font-size: var(--font-size-large);
  margin: var(--margin-default) 0 0;
  width: 80%;
}

.productInfo .priceAddress .freeShipping:after {
  display: flex;
  width: var(--icon-size-default);
  height: var(--icon-size-default);
  margin-left: var(--margin-tiny);
  background-size: contain;
  background-image: url('./../assets/ic_shipping@2x.png');
  content: '';
}

.productInfo .priceAddress .addressState {
  display: flex;
  font-size: var(--font-size-xs);
  color: var(--gray-light-text);
  margin-top: var(--margin-tiny);
}

.productInfo .title {
  display: flex;
  font-weight: 100;
  font-size: var(--font-size-md);
  margin: 0;
}

.productList {
  width: 100%;
  flex-direction: column;
}

@media (min-width: 1124px) {
  .productCard img {
    width: 180px;
    height: 180px;
  }

  .productInfo .priceAddress {
    flex-direction: row;
    align-items: baseline;
  }

  .productInfo .priceAddress .addressState {
    margin: 0;
  }
}
