:host {
  display: flex;
}

input {
  display: flex;
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 12px;
  font-size: 30px;
  line-height: 30px;
  color: #006a71;
  box-shadow: 2px 2px 0px #acb523;
}
